<div class="container1">
    <header class="header">
        <div class="logo">
            <div class="imgLogo"></div>
            <span class=" logo-text"><a routerLink="/">Faro<br />Turism</a></span>
        </div>

        <nav class="navbar">
            <a routerLink="/" class="nav-link">Inicio</a>

            <a routerLink="/menu" class="nav-link">Menu</a>
            <a routerLink="/review" class="nav-link">Reseñas</a>
            <a routerLink="/blogs" class="nav-link">Blogs</a>
        </nav>

        @if(!autenticado){
        <div class="login-button-container">
            <button routerLink="/login" class="login-button">
                <span>Iniciar Sesión</span>
            </button>
            <button routerLink="/register" class="login-button">
                <span>Registrarse</span>
            </button>
        </div>
        }
    </header>
</div>